* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-style: normal;
  font-family: "Courier New", Courier, monospace;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("https://papers.co/wallpaper/papers.co-vs89-tree-leaf-green-pattern-nature-dark-28-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  height: 70%;
  width: 50%;
  padding: 10px;
  background-color: rgb(35, 35, 35);
  /* opacity: 75%; */
  border-radius: 16px;
  box-shadow: 10px 10px 80px #1a4c0f;
}

.grid {
  gap: 30px;
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
}

h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
}
h1 {
  font-size: 8rem;
}

.searchBox {
  position: relative;
}

.searchBox input {
  width: 100%;
  padding: 10px;
  font-size: larger;
  border-radius: 16px;
}

.searchBox button {
  position: absolute;
  padding: 10px;
  font-size: larger;
  background-color: transparent;
  border: none;
  right: 0;
  border-radius: 16px;
}

.searchBox button:hover {
  cursor: pointer;
  background-color: rgb(57, 57, 57);
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}

ul li {
  font-size: larger;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
