* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

a {
  color: black;
  font-size: larger;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar {
  width: 100%;
  height: 10vh;
  background-color: rgb(230, 230, 251);
}

.logo {
  padding: 15px;
}

.searchBox {
  width: 40%;
  margin: 15px;
  height: 5vh;
}

.searchBox input {
  width: 100%;
  height: 100%;
}

button {
  padding: 10px;
  border: 0;
  font-size: larger;
}
